<app-main-layout>
  <app-hero-banner
    title="The furniture brand for the future, with timeless designs"
    subtitle="A new era in eco friendly furniture with Avelon, the French luxury retail brand
    with nice fonts, tasteful colors and a beautiful way to display things digitally 
    using modern web technologies."
  ></app-hero-banner>

  <app-products-featured
    [products]="products$ | async"
    title="New ceramics"
  ></app-products-featured>

  <app-product-card [product]="prod$ | async"></app-product-card>

  <h2>Previous product</h2>
  <app-product-card [product]="prodOld$ | async"></app-product-card>
  <button (click)="getNextProduct()">Get next product</button>

  <h1>Home</h1>
  <section>
    <h2>Featured Products</h2>
    <app-products-carousel
      [products]="products$ | async"
    ></app-products-carousel>
  </section>
</app-main-layout>
