.title, .subtitle {
  color: var(--color-light);
}

.title {
  font-size: 2rem;
  font-variation-settings: 'wght' var(--weight-body);
}

.subtitle {
  font-size: 1.125rem;
  font-variation-settings: 'wght' var(--weight-body);
}

img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}