<footer class="bg-primary-dark text-light">
  <div class="container">
    <div class="row pt-5 pb-2">
      <div class="col-6 col-md-4 col-lg-2">
        <nav>
          <h4>Menu</h4>
          <ul>
            <li><a href="#">New arrivals</a></li>
            <li><a href="#">Best sellers</a></li>
            <li><a href="#">Recently viewed</a></li>
            <li><a href="#">Popular this week</a></li>
            <li><a href="#">All products</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <nav>
          <h4>Categories</h4>
          <ul>
            <li><a href="#">Crockery</a></li>
            <li><a href="#">Furniture</a></li>
            <li><a href="#">Homeware</a></li>
            <li><a href="#">Plant pots</a></li>
            <li><a href="#">Chairs</a></li>
            <li><a href="#">Crockery</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <nav>
          <h4>Our company</h4>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Vacancies</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Returns policy</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-12 col-lg-6">
        <p>Join our mailing list</p>
        <form>
          <input type="email" placeholder="Your email address" />
          <button>Subscribe</button>
        </form>
      </div>
    </div>
    <hr />
    <div class="row justify-content-between">
      <div class="col-12 col-md-auto">
        <p class="">© 2020 - All rights reserved</p>
      </div>
      <div class="col-12 col-md-auto d-flex">
        <div class="px-2">icon</div>
        <div class="px-2">icon</div>
        <div>icon</div>
      </div>
    </div>
  </div>
</footer>
