.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--default-padding);
  border-bottom: 1px solid var(--color-lightest-gray);
}

.logo {
  color: var(--color-primary);
  font-family: var(--font-display);
}

.mobile-icons {
  display: flex;
}

.mobile-icons > * {
  margin-right: 1rem;
}

.mobile-icons *:last-of-type {
  margin-right: 0;
}

.categories {
  padding: var(--default-padding);
}

.category-link {
  color: var(--color-primary);
  font-family: var(--font-primary);
  text-decoration: none;
}

.category-link:hover {
  color: var(--color-primary-dark);
  text-decoration: underline;
}
