@import url("./fonts.css");
@import url("./variables.css");

html {
  font-size: 16px;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: var(--font-body);
  font-weight: var(--weight-body);
  line-height: var(--line-height-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: var(--weight-heading);
  line-height: var(--line-height-heading);
}

h1,
h2,
h3 {
  line-height: var(---line-height-heading-small);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
  text-decoration: none;
}
