:root {
  /* Colors */
  --color-dark: #000;
  --color-light: #fff;
  --color-primary-dark: #2a254b;
  --color-primary: #4e4d93;
  --color-secondary: #05a;
  --color-error: #f00;
  --color-lightest-gray: rgb(0 0 0 / 10%);

  /* Text */
  --text: var(--color-dark);
  --background: var(--color-light);
  --primary: var(--color-primary);
  --secondary: var(--color-secondary);

  /* Fonts */
  --font-primary: "Satoshi-Variable";
  --font-secondary: "sans-serif";
  --font-display: "ClashDisplay-Variable";
  --font-mono: "Menlo, monospace";
  --font-body: var(--font-primary);
  --font-heading: var(--font-display);

  /* Font Weights */
  --weight-body: 400;
  --weight-heading: 500;
  --weight-bold: 700;

  /* Line Heights */
  --line-height-body: 1.5;
  --line-height-heading: 1.125;
  --line-height-heading-small: 1;

  /* Layouts */
  --header-height: 4.3125rem;

  /* Paddings */
  --default-padding-vertical: 1.25rem;
  --default-padding-horizontal: 1.5rem;
  --default-padding: var(--default-padding-vertical)
    var(--default-padding-horizontal);
}
